models/**
.env
.venv/
workspace/
*.log
__pycache__/
.cache/
*.db
.benchmarks/
.pytest_cache/
build/
dist/
townhall.egg-info/
logs/

townhall/models/llama/weights/LLaMa/**
townhall/models/whisper/weights/**
agent_workplace/**

!pull_llama.sh
!.keep
tmp/