models/**
.env
.venv/
workspace/
*.log
__pycache__/
.cache/
*.db
.benchmarks/
.pytest_cache/
build/
dist/
townhall.egg-info/
logs/

app/models/llama/weights/LLaMa/**
!app/models/llama/weights/LLaMa/pull_llama.sh

app/models/whisper/weights/
!app/models/whisper/weights/.keep